@import "sass/_base";
@import "includes/include";

body {
 // background-color: deeppink;
}

/*
* Custom Theme ellements
*/
header {
    .site-name {
      @include plumber(
              $font-size: 1.4,
              $line-height: 2,
              $leading-top: 1,
              $leading-bottom: 1
      );
      margin-top: 0px;
      font-family: $headline;
      text-transform: uppercase;
      font-weight: bold;
      a {
        font-family: $headline;
        color: $theme-comp;
      }
      @include breakpoint($phone) {
        @include plumber(
                $font-size: 1,
                $line-height: 1,
                $leading-top: 1,
                $leading-bottom: 1
        );
      }
    }
    .site-slogan {
      @include plumber(
              $font-size: .7,
              $line-height: 1,
              $leading-top: 0
      );
    }
    @include breakpoint($phone) {
    }
}


.breadcrumb-nav {
  margin-bottom: $base-line-height;
  .breadcrumb {
    a {
      padding: $base-line-height / 3;
      border: solid 1px $gray-7;
      -webkit-border-radius: 5;
      -moz-border-radius: 5;
      border-radius: 5px;
      background-color: $theme-tint;
      text-decoration: none;
      &:hover {
        background-color: $theme-color !important;
      }
    }
  }
}

.field-name-field-image {
  margin-bottom: $base-line-height;
}

.megamenu-skin-friendly {
  background-color: #F8FA90;
}

#content-area {
  display: block;
}

.block .view {
  h2 {
    @include plumber(
            $font-size: .8,
            $leading-top: 0,
            $leading-bottom: 1
    );
    border-bottom: 0px;
  }
}



/*
* Front
*/
.front {

}


/*
* Footer
*/

footer {
  img {
    display: inline-block;
  }
}


/****************** map ********/

.path-service-providers {
  #views-exposed-form-map-page-1 {
    .form-item-field-address-postal-code, .webform-type-checkboxes {
      display:block;
      width:100%;
      clear:both;
      legend {
        font-size: 1.2em;
        font-weight: 300;
        color:$theme-color;
        text-transform:uppercase;
      }
      .form-text {
        width:auto !important;
        height: 50px;
        background: #FFF;
        border:solid 1px #999;
        color: #63717f;
        padding-left: 15px;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
      }
    }
    .form-submit {
      margin:0px;
      width:auto !important;
      height: 50px;
      background: #5CC4BE;
      border:solid 1px #999;
      font-size:1em;
      color: #FFF;
      padding:5px 15px !important;
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      border-radius: 4px;
      text-transform:uppercase;
      float: left;
      margin-bottom: $base-line-height;
    }
  }
  #map-ismissing {
    padding:20px;
    background-color:#D6DF23;
    position:absolute;
    right:0px;
    top:10px;
    color:#000;
    z-index:1;
    font-family:oswald, "Trebuchet MS", Arial, Helvetica, sans-serif !important;
    @include breakpoint($phone) {
      position: relative;
    }
  }
  .view-empty p {
    padding:50px;
    text-align:center;
    font-size:2em;
    background-color:#D6DF23;
    color:#FFF;
  }
  .views-table {
    table {
      width: 100%;
      td {
        border-bottom: solid 1px $gray-5;
      }
    }
  }
}

/***************  get involved *******/

.di-table {
  .pct {
    font-family:oswald, "Trebuchet MS", Arial, Helvetica, sans-serif !important;
    font-size:3em;
    padding:20px !important;
    vertical-align:middle;
  }
  td {
    vertical-align:top;
  }
}



#gray-table {
  border-collapse: collapse;
  border-style: hidden;
  td {
    border:20px solid #FFF !important;
  }
  .pct {
    background-color:#5F5E5D;
    color:#D6DF23;
  }
}
#bluegreen-table {
  border-collapse: collapse;
  border-style: hidden;
  text-align:center;
  td {
    border-left:20px solid #FFF !important;
    border-right:20px solid #FFF !important;

  }
  .pct {
    background-color:#5CC4BE;
    color:#FFF;
  }
}