/*
* Styles, Standard tags, Global
*/

html, body {
  line-height: $base-line-height;
  font-family: $lato;
  font-size: 16.64px;
}

a {
    text-decoration: none;
    color: $theme-shade;
  &:hover {
    color: $theme-dark;
  }
}

p {
    @include plumber(
            $leading-top: 0,
            $leading-bottom: 1
    );
}

blockquote {
  @include plumber(
          $font-size: .8,
          $leading-top: 0,
          $leading-bottom: 1
  );
  clear: both;
  background-color: $gray-9;
  font-style: italic;
  padding: $base-line-height;
  border-left: solid 2px $theme-color;
  p:first-of-type {
       padding-top: 0;
     }
  p:last-of-type {
    padding-bottom: 0;
  }
  margin-bottom: $base-line-height / 2;
}

.plumber { // wraper for node fields addeded to field.tpl.php
  display: block;
  @include plumber(
          $leading-top: 0,
          $leading-bottom: 0
  );
}

.plumber p { // override nested paragraph for .plumber
  margin: 0 !important;
  padding: 0 !important;
}

h1 {
  font-family: $headline;
  text-transform: uppercase;
  color: $theme-color;
  border-bottom: solid 1px black;
    @include plumber(
            $font-size: 1.15,
            $line-height: 2,
            $leading-top: 0,
            $leading-bottom: 2
    );
    @include breakpoint($phone) {
        @include plumber(
                $font-size: 1,
                $line-height: 1,
                $leading-top: 0
        );
        padding-top: 15px;
    }
}
h1.page-title{
  font-family: $headline;
  text-transform: uppercase;
  color: $theme-color;
  border-bottom: solid 1px black;
  @include plumber(
          $font-size: 1.15,
          $line-height: 2,
          $leading-top: 0,
          $leading-bottom: 1
  );
  @include breakpoint($phone) {
    @include plumber(
            $font-size: 1,
            $line-height: 1,
            $leading-top: 0
    );
    padding-top: 15px;
  }
}

h2 {
  font-family: $lato;
  text-transform: uppercase;
  color: $theme-color;
  @include plumber(
            $font-size: .95,
            $line-height: 1,
            $leading-top: 1,
            $leading-bottom: 1
    );
    @include breakpoint($phone) {
        @include plumber(
                $font-size: 1.15,
                $line-height: 1,
                $leading-bottom: 1
        );
        padding-top: 15px;
    }
}

h3 {
  font-family: $lato;
    @include plumber(
            $font-size: .85,
            $leading-top: 0,
            $leading-bottom: 1
    );
    color: black;
    @include breakpoint($phone) {
        @include plumber(
                $font-size: .75
        );
    }
}
h4 {
  @include plumber(
          $font-size: .7,
          $leading-top: 0,
          $leading-bottom: 0
  );
  @include breakpoint($phone) {
    @include plumber(
            $font-size: .75
    );
  }
}
/*
ul, ol {
  display: block;
  @include plumber(
          $font-size: .6,
          $leading-top: 0,
          $leading-bottom: 1,
          $line-height: 1
  );
  li {
    display: list-item;
    @include plumber(
          $font-size: .6,
          $leading-top: 0,
          $leading-bottom: 0,
          $line-height: 1
    );
    @include breakpoint($phone) {
      @include plumber(
              $leading-top: 0,
              $leading-bottom: 0,
              $line-height: 1
      );
    }
  }
} */

.views-field {
  @include plumber(
          $font-size: .6,
          $leading-top: 0,
          $leading-bottom: 0,
          $line-height: 1
  );
}

img {
    display: block;
    // width: 100%;
}
.img img {
  width: 100%;
  height: auto;
  clear: both;
}
.views-row:after {
  content: "";
  display: table;
  clear: both;
}

code {
    @include plumber(
            $font-size: .75,
            $line-height: 1,
            $leading-top: 0,
            $leading-bottom: 0
    );
}

.field .field-label {
  font-weight: 600;
}

.full-sapn div.breadcrumb {
  @include plumber(
          $font-size: .75,
          $line-height: 1,
          $leading-top: 0,
          $leading-bottom: 1
  );
}


.item-list {
  clear: both;

  ul.pager {
    text-align: right;
    padding: 5px 0;
    position: relative;

    li {
      margin: 0;
      padding: 0;
      display: inline;

      &.pager-current {
        padding: 5px 8px;
        color: $highlight;
      }
      &.pager-last {
      }

      a {
        padding: 5px 8px;
        margin: 0;
      }
    }
  }
}
.box {
  clear: both;
  margin-bottom: $base-line-height;
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

ul {
  margin-top: 0px;
}

// Table styles.
table {
}

// Code.
pre, code, tt {
  font: 1em "andale mono", "lucida console", monospace;
  line-height: 1.5;
}

pre {
  background-color: #efefef;
  display: block;
  padding: 5px;
  margin: 5px 0;
  border: 1px solid #aaaaaa;
}

// Abbreviation.
abbr {
  border-bottom: 1px dotted #666666;
  cursor: help;
  white-space: nowrap;
}