@import "sass/base";

$superfish-1-color: white;
$superfish-1-background-color-level-first: $theme-color;
$superfish-1-background-color-level-second: $theme-color;
$superfish-1-background-color-level-third: $theme-color;
$superfish-1-background-color-level-fourth: $theme-color;

/*
* Superfish definition
* #YOUR-BLOCK-ID {
*/

#block-mainmenu-2 {
    .sf-style-none {
        font-family: $headline;
        text-transform: uppercase;
        margin: 0;
        padding: 0;
        background-color: $superfish-1-background-color-level-first;
        &.sf-navbar {
            width: 100%;
            background: $superfish-1-background-color-level-first;
        }
        ul {
            padding-left: 0;
            &.sf-multicolumn li {
                &.sf-multicolumn-wrapper {
                    background: $superfish-1-background-color-level-fourth;
                    li {
                        background: transparent;
                    }
                }
            }
        }
        a {
            color: $superfish-1-color;
            background-color: $superfish-1-background-color-level-first;
            padding: 0.75em 1em;
            &.sf-with-ul {
                padding-right: 2.25em;
            }
            &:focus {
                background: $theme-dark;
                outline: 0;
            }
            &:hover {
                background: $theme-dark;
                outline: 0;
            }
            &:active {
                background: $superfish-1-background-color-level-fourth;
                outline: 0;
            }
        }
        span {
            &.nolink {
                color: $superfish-1-color;
                padding: 0.75em 1em;
                &.sf-with-ul {
                    padding-right: 2.25em;
                }
                &:hover {
                    background: $superfish-1-background-color-level-fourth;
                    outline: 0;
                }
            }
            &.sf-description {
                color: $superfish-1-color;
                display: block;
                font-size: 0.833em;
                line-height: 1.5;
                margin: 5px 0 0 5px;
                padding: 0;
            }
        }
        &.rtl {
            span {
                &.sf-description {
                    margin: 5px 5px 0 0;
                }
                &.nolink.sf-with-ul {
                    padding-left: 2.25em;
                    padding-right: 1em;
                }
            }
            a.sf-with-ul {
                padding-left: 2.25em;
                padding-right: 1em;
            }
        }
        li {
            background: $superfish-1-background-color-level-first;
            li {
                background: $superfish-1-background-color-level-second;
                border-top: solid 1px lightblue;
                li {
                    background: $superfish-1-background-color-level-third;
                    border-top: solid 1px lightblue;
                }
            }
            &:hover {
                outline: 0;
                > ul {
                    top: 41px;
                    -webkit-box-shadow: 0px 7px 6px -3px rgba(0,0,0,0.75);
                    -moz-box-shadow: 0px 7px 6px -3px rgba(0,0,0,0.75);
                    box-shadow: 0px 7px 6px -3px rgba(0,0,0,0.75);
                }
            }
            &.sfHover {
                outline: 0;
                > ul {
                    top: 41px;
                    -webkit-box-shadow: 0px 7px 6px -3px rgba(0,0,0,0.75);
                    -moz-box-shadow: 0px 7px 6px -3px rgba(0,0,0,0.75);
                    box-shadow: 0px 7px 6px -3px rgba(0,0,0,0.75);
                }
            }
        }
        .sf-sub-indicator {
            //background-image: url('../images/dropdown-arrows.png');
            background-image: none;
        }
    }
    div.sf-accordion-toggle {
        &.sf-style-none a {
            background: $superfish-1-background-color-level-first;
            color: $superfish-1-color;
            padding: 0;
            margin: .75em 1em;
            &.sf-expanded {
                background: $superfish-1-background-color-level-fourth;
                font-weight: bold;
            }
        }
    }
    .sf-menu.sf-style-none {
        &.rtl {
            &.sf-accordion li {
                li {
                    a {
                        padding-left: auto;
                        padding-right: 2em;
                    }
                    li {
                        a {
                            padding-left: auto;
                            padding-right: 3em;
                        }
                        li {
                            a {
                                padding-left: auto;
                                padding-right: 4em;
                            }
                            li {
                                a {
                                    padding-left: auto;
                                    padding-right: 5em;
                                }
                                span.nolink {
                                    padding-left: auto;
                                    padding-right: 5em;
                                }
                            }
                            span.nolink {
                                padding-left: auto;
                                padding-right: 4em;
                            }
                        }
                        span.nolink {
                            padding-left: auto;
                            padding-right: 3em;
                        }
                    }
                    span.nolink {
                        padding-left: auto;
                        padding-right: 2em;
                    }
                }
            }
            ul.sf-multicolumn {
                li.sf-multicolumn-wrapper {
                    ol li {
                        &.sf-multicolumn-column {
                            float: right;
                        }
                    }
                }
            }
        }
        &.sf-accordion li {
            &.sf-expanded {
                background: $superfish-1-background-color-level-fourth;
                > {
                    a {
                        font-weight: bold;
                    }
                    span.nolink {
                        font-weight: bold;
                    }
                }
            }
            li {
                a {
                    padding-left: 2em;
                }
                li {
                    a {
                        padding-left: 3em;
                    }
                    li {
                        a {
                            padding-left: 4em;
                        }
                        li {
                            a {
                                padding-left: 5em;
                            }
                            span.nolink {
                                padding-left: 5em;
                            }
                        }
                        span.nolink {
                            padding-left: 4em;
                        }
                    }
                    span.nolink {
                        padding-left: 3em;
                    }
                }
                span.nolink {
                    padding-left: 2em;
                }
            }
            a.sf-accordion-button {
                font-weight: bold;
                position: absolute;
                right: 0;
                top: 0;
                z-index: 499;
            }
        }
        ul.sf-multicolumn {
            li.sf-multicolumn-wrapper {
                ol {
                    margin: 0;
                    padding: 0;
                    li {
                        margin: 0;
                        padding: 0;
                        &.sf-multicolumn-column {
                            display: inline;
                            float: left;
                        }
                    }
                }
                a.menuparent {
                    font-weight: bold;
                }
                span.nolink {
                    &.menuparent {
                        font-weight: bold;
                    }
                }
            }
        }
    }
}